### <div id="py"> Working with different file formats </div>



- JSON (java script object notation)
- CSV (Command Seperated Values)
- Excel
- Avro (Bigdata)
- Parquet (Bigdata)

### Data comes in various forms

<img src="images/data_gen.jpeg">

As a data person you will deal with various type of data and it's important to learn how to handle these file formats



## Working in JSON files

***
Since its inception, JSON has quickly become the de facto standard for information exchange. 

Chances are you’re here because you need to transport some data from here to there. Perhaps you’re gathering information through an API or storing your data in a document database. 

One way or another, you’re up to your neck in JSON, and you’ve got to Python your way out.

## A (Very) Brief History of JSON

JSON stangs for JavaScript Object Notation was inspired by a subset of the JavaScript programming language dealing with object literal syntax. 

Ultimately, the community at large adopted JSON because it’s easy for both humans and machines to create and understand.

### Look, it’s JSON!
```
{
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": ["running", "sky diving", "singing"],
    "age": 35,
    "children": [
        {
            "firstName": "Alice",
            "age": 6
        },
        {
            "firstName": "Bob",
            "age": 8
        }
    ]
}
```

### Does this look similar to something?

YES! Python **dictionary!**

### Writing JSON files

In [1]:
import json

In [2]:
data = {
    "president": {
        "name": "Zaphod Beeblebrox",
        "species": "Betelgeusian"
    }
}

In [3]:
with open("data_file.json", "w") as write_file:
    json.dump(data, write_file)

 Note that `dump()` takes two positional arguments:
 1. the data object to be serialized, and
 2. the file-like object to which the bytes will be written.

### Reading JSON files

In [4]:
with open("data_file.json", "r") as read_file:
    data = json.load(read_file)

In [5]:
type(data)

dict

In [6]:
data

{'president': {'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}}

### You can also read JSON as DataFrame in Pandas

In [ ]:
import pandas as pd

jsonStr = '''{"Index0":{"Courses": "Pandas","Discount": "1200"},
           "Index1":{"Courses": "Hadoop","Discount": "1500"},
           "Index2":{"Courses": "Spark","Discount": "1800"}
          }'''

# Convert JSON to DataFrame Using read_json()
df2 = pd.read_json(jsonStr, orient ='index')
print(df2)

       Courses  Discount
Index0  Pandas      1200
Index1  Hadoop      1500
Index2   Spark      1800

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_23492\1382010807.py:9: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df2 = pd.read_json(jsonStr, orient ='index')

In [8]:
df2

       Courses  Discount
Index0  Pandas      1200
Index1  Hadoop      1500
Index2   Spark      1800

In [10]:
str(data)

"{'president': {'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}}"

In [17]:
data

[{'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'},
 {'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'},
 {'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}]

In [14]:
data = [{'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}, 
        {'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'},
        {'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}
    ]

In [15]:
pd.DataFrame(data)

                name       species
0  Zaphod Beeblebrox  Betelgeusian
1  Zaphod Beeblebrox  Betelgeusian
2  Zaphod Beeblebrox  Betelgeusian

### Convert Dict To DF

In [18]:
data = {
    "president": {
        "name": "Zaphod Beeblebrox",
        "species": "Betelgeusian"
    }
}

In [19]:
import pandas as pd

df3 = pd.DataFrame.from_dict(data, orient ='index')

In [20]:
df3

                        name       species
president  Zaphod Beeblebrox  Betelgeusian

## Working with CSV files

A CSV file (Comma Separated Values file) is a type of plain text file that uses specific structuring to arrange tabular data. 

It’s a plain text file that has data separated by commas!

```
column 1 name,column 2 name, column 3 name
first row data 1,first row data 2,first row data 3
second row data 1,second row data 2,second row data 3
...
```

In [21]:
df = pd.read_csv('data/hrdata.csv', index_col='Name')

In [22]:
df.head()

               Hire Date   Salary  Sick Days remaining
Name
Graham Chapman  03/15/14  50000.0                   10
John Cleese     06/01/15  65000.0                    8
Eric Idle       05/12/14  45000.0                   10
Terry Jones     11/01/13  70000.0                    3
Terry Gilliam   08/12/14  48000.0                    7

In [23]:
df.reset_index(inplace=True)

In [24]:
df

             Name Hire Date   Salary  Sick Days remaining
0  Graham Chapman  03/15/14  50000.0                   10
1     John Cleese  06/01/15  65000.0                    8
2       Eric Idle  05/12/14  45000.0                   10
3     Terry Jones  11/01/13  70000.0                    3
4   Terry Gilliam  08/12/14  48000.0                    7
5   Michael Palin  05/23/13  66000.0                    8

In [25]:
df.dtypes

Name                    object
Hire Date               object
Salary                 float64
Sick Days remaining      int64
dtype: object

In [28]:
df = pd.read_csv('data/hrdata.csv', parse_dates=['Hire Date'])

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_23492\1106074679.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv('data/hrdata.csv', parse_dates=['Hire Date'])

In [29]:
df

             Name  Hire Date   Salary  Sick Days remaining
0  Graham Chapman 2014-03-15  50000.0                   10
1     John Cleese 2015-06-01  65000.0                    8
2       Eric Idle 2014-05-12  45000.0                   10
3     Terry Jones 2013-11-01  70000.0                    3
4   Terry Gilliam 2014-08-12  48000.0                    7
5   Michael Palin 2013-05-23  66000.0                    8

In [30]:
df.dtypes

Name                           object
Hire Date              datetime64[ns]
Salary                        float64
Sick Days remaining             int64
dtype: object

In [31]:
df.to_csv('data/hrdata_modified.csv')

## Working with Excel Files

Excel spreadsheets are one of those things you might have to deal with at some point. Either it’s because your boss loves them or because marketing needs them, and you might have to learn how to work with spreadsheets.

Many companies still prefer using Excel files for their data storage and analysis, as a data expert you should know how to handle these files programatically!

To work with Excel files we have package in python `openpyxl`

In [32]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\ADMIN\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

### Basics of Excel

<img src="images/excel.png" width=550>

In [ ]:
# Create dummy data and save to excel file

from openpyxl import Workbook

workbook = Workbook()
sheet = workbook.active

sheet["A1"] = "hello"
sheet["B1"] = "world!"

workbook.save(filename="hello_world.xlsx")

In [33]:
#Reading excel file

from openpyxl import load_workbook
workbook = load_workbook(filename="data/sample-xlsx-file.xlsx")

In [34]:
workbook.sheetnames

['Employee', 'Department']

In [35]:
workbook.active

In [36]:
sheet = workbook.active

In [37]:
sheet

In [38]:
sheet.title

'Employee'

In [39]:
sheet["A1"]

In [40]:
sheet["A1"].value

'Name'

In [41]:
sheet.cell(row=10, column=6)

In [42]:
sheet.cell(row=3, column=3).value

datetime.datetime(1965, 1, 13, 0, 0)

In [ ]:
sheet["A1:C2"]

In [43]:
for row in sheet.iter_rows(values_only=True):
    print(row)

('Name', 'Email', 'Date Of Birth', 'Salary', 'Department', None)
('Rajeev Singh', 'rajeev@example.com', datetime.datetime(1992, 7, 21, 0, 0), 1500000.0, 'Software Engineering', None)
('John Doe', 'john@example.com', datetime.datetime(1965, 1, 13, 0, 0), 1300000.0, 'Sales', None)
('Jack Sparrow', 'jack@example.com', datetime.datetime(1986, 12, 19, 0, 0), 1000000.0, 'HR', None)
('Steven Cook', 'steven@example.com', datetime.datetime(1994, 5, 4, 0, 0), 1200000.0, 'Marketing', None)
(None, None, None, None, None, None)
(None, None, None, None, None, None)
(None, None, None, None, None, None)
(None, None, None, None, None, None)
(None, None, None, None, None, None)

### You can read Excel file as DataFrame using Pandas

In [44]:
excel_df = pd.read_excel('data/sample-xlsx-file.xlsx')

In [45]:
excel_df

,Name,Email,Date Of Birth,Salary,Department
0,Rajeev Singh,rajeev@example.com,1992-07-21,1500000,Software Engineering
1,John Doe,john@example.com,1965-01-13,1300000,Sales
2,Jack Sparrow,jack@example.com,1986-12-19,1000000,HR
3,Steven Cook,steven@example.com,1994-05-04,1200000,Marketing

In [54]:
# deparment = 
pd.read_excel('data/sample-xlsx-file.xlsx', sheet_name=1)

,Name,Email,Date Of Birth,Salary,Department
0,Rajeev Singh,rajeev@example.com,1992-07-21,1500000,Software Engineering
1,John Doe,john@example.com,1965-01-13,1300000,Sales
2,Jack Sparrow,jack@example.com,1986-12-19,1000000,HR
3,Steven Cook,steven@example.com,1994-05-04,1200000,Marketing

In [ ]:
pd.read_excel('data/sample-xlsx-file.xlsx', sheet_name="Department")

In [57]:
# Overwrite
excel_df.to_excel('data/sample-xlsx-file.xlsx', sheet_name="Pandas")

## Working with AVRO

Apache Avro is a data serialization format. We can store data as `.avro` files on disk. 

Avro files are typically used with Spark but Spark is completely independent of Avro.

Avro is a row-based format that is suitable for evolving data schemas. One benefit of using Avro is that schema and metadata travels with the data.

If you have an .avro file, you have the schema of the data as well. 

The Apache Avro Specification provides easy-to-read yet detailed information.

In [ ]:
pip install avro-python3

In [16]:
# Python 3 with `avro-python3` package available
import copy
import json
import avro
from avro.datafile import DataFileWriter, DataFileReader
from avro.io import DatumWriter, DatumReader

In [55]:

# Note that we combined namespace and name to get "full name"
schema = {
    'name': 'avro.example.User',
    'type': 'record',
    'fields': [
        {'name': 'name', 'type': 'string'},
        {'name': 'age', 'type': 'int'}
    ]
}

# Parse the schema so we can use it to write the data
schema_parsed = avro.schema.Parse(json.dumps(schema))

In [ ]:
schema_parsed

In [57]:

# Write data to an avro file
with open('users.avro', 'wb') as f:
    writer = DataFileWriter(f, DatumWriter(), schema_parsed)
    writer.append({'name': 'Pierre-Simon Laplace', 'age': 77})
    writer.append({'name': 'John von Neumann', 'age': 53})
    writer.close()

In [ ]:

# Read data from an avro file
with open('users.avro', 'rb') as f:
    reader = DataFileReader(f, DatumReader())
    metadata = copy.deepcopy(reader.meta)
    schema_from_file = json.loads(metadata['avro.schema'])
    users = [user for user in reader]
    reader.close()

print(f'Schema that we specified:\n {schema}')
print(f'Schema that we parsed:\n {schema_parsed}')
print(f'Schema from users.avro file:\n {schema_from_file}')
print(f'Users:\n {users}')

### Reading Avro Using Pandas

Avro format simply requires a schema and a list of records. We don’t need a dataframe to handle Avro files. 

However, we can write a `pandas` dataframe into an Avro file or read an Avro file into a `pandas` dataframe. 

To begin with, we can always represent a dataframe as a list of records and vice-versa

In [ ]:
pip install pandavro

In [77]:
import copy
import json
import pandas as pd
import pandavro as pdx
from avro.datafile import DataFileReader
from avro.io import DatumReader

In [ ]:
# Data to be saved
users = [{'name': 'Pierre-Simon Laplace', 'age': 77},
         {'name': 'John von Neumann', 'age': 53}]
users_df = pd.DataFrame.from_records(users)
print(users_df)

In [79]:
pdx.to_avro('data/users_test.avro', users_df)

In [ ]:
# Read the data back
users_df_redux = pdx.from_avro('data/users_test.avro')
print(type(users_df_redux))
# <class 'pandas.core.frame.DataFrame'>

In [ ]:
# Check the schema for "users.avro"
with open('users.avro', 'rb') as f:
    reader = DataFileReader(f, DatumReader())
    metadata = copy.deepcopy(reader.meta)
    schema_from_file = json.loads(metadata['avro.schema'])
    reader.close()
print(schema_from_file)



## Apache Spark : Process Parquet file

## Kafka: Arvo

In [ ]:
# Apache Spark : Process Parquet file

In [ ]:
Parquet: Binary 

data 
metadata: kiểu dữ liệu,...

In [ ]:
Lưu trữ dữ liệu theo cột

In [ ]:
theo cột/theo dòng

In [ ]:
theo cột: dwh 
tối ưu performance query cho analytical query (select, group by, join)

In [ ]:
theo dòng: database vận hàng web/app, phần mềm